################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeetUp
/.vs/ProjectEvaluation
/MeetUp/meet-up-client
